<h1>Ingreso de Solicitudes</h1>
<div fxLayout="row" fxLayoutAlign.gt-md="center center" fxLayoutGap="20px">
    <mat-form-field fxFlex="20%">
        <input matInput placeholder="Buscar por Fecha de Creacion"
		[matDatepicker]="picker1" (focus)="setupFilter('fecha_creacion')" (dateChange)="aplicarFiltroFecha($event)">
		<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
		<mat-datepicker #picker1 startView="multi-year"></mat-datepicker>
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field fxFlex="20%">
        <input matInput placeholder="Buscar" (keyup)="aplicarFiltro($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>
<app-spinner *ngIf="loading" [tipoLoading]="'bar'"></app-spinner>

<section class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Solicitud </th>
            <td class="mat-gold" mat-cell *matCellDef="let colaborador"> {{colaborador.idcolaborador}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let colaborador"> {{colaborador.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido_paterno">
            <th mat-header-cell *matHeaderCellDef> Apellido Paterno </th>
            <td mat-cell *matCellDef="let colaborador"> {{colaborador.apellido_paterno}} </td>
        </ng-container>

        <ng-container matColumnDef="apellido_materno">
            <th mat-header-cell *matHeaderCellDef> Apellido Materno </th>
            <td mat-cell *matCellDef="let colaborador"> {{colaborador.apellido_materno}} </td>
        </ng-container>

        <ng-container matColumnDef="correo_electronico">
            <th mat-header-cell *matHeaderCellDef> Correo Electrónico </th>
            <td mat-cell *matCellDef="let colaborador"> {{colaborador.correo_electronico}} </td>
        </ng-container>

        <ng-container matColumnDef="fecha_creacion">
            <th mat-header-cell *matHeaderCellDef> Fecha de Creación </th>
            <td mat-cell *matCellDef="let colaborador"> {{colaborador.fecha_creacion | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
            <th mat-header-cell *matHeaderCellDef> Opciones </th>
            <td mat-cell *matCellDef="let colaborador" fxLayoutGap="15px">
                <!--<mat-icon *ngIf="colaborador.num_ediciones" 
                [matBadge]="colaborador.num_ediciones" matBadgeColor="warn" matBadgePosition="above after">insert_chart</mat-icon>-->

                <!-- Include text description of the icon's meaning for screen-readers -->
               
                <button *ngIf="!colaborador.tieneValidacion || colaborador.es_valido"
                    [routerLink]="['/registro/editar/',colaborador.idcolaborador]" mat-raised-button color="primary">Ir
                    Validar</button>
                <button *ngIf="colaborador.tieneValidacion && !colaborador.es_valido"
                    [routerLink]="['/formato',colaborador.idcolaborador]" mat-raised-button color="accent">Ir a
                    Formato</button>

                <div class="alternate-theme" fxFlex="120px;" fxLayout="column">
                    <!--<button (click)="enviarCorreoColaborador(colaborador.idcolaborador)"
                        *ngIf="colaborador.tieneValidacion && colaborador.es_valido" mat-raised-button
                        color="accent" [disabled]="loading">{{ this.tituloBtn }}</button>-->
                    <button [routerLink]="['/contrato',colaborador.idcolaborador]" *ngIf="colaborador.tieneValidacion && !colaborador.es_valido"
                        mat-raised-button color="primary">Contrato</button>
                </div>
                <div class="alternate-theme" fxFlex="120px;" fxLayout="column">

                    <button  [routerLink]="['/registro/editar/',colaborador.idcolaborador]" *ngIf="colaborador.tieneValidacion && !colaborador.es_valido"
                    mat-raised-button color="accent">Editar</button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30]" showFirstLastButtons></mat-paginator>
</section>