<div fxLayout="row" fxLayoutGap="20px">
    <button mat-raised-button color="primary" [routerLink]="['/colaboradores']" routerLinkActive="router-link-active">
        <mat-icon aria-hidden="false" aria-label="add">arrow_back</mat-icon>
        Regresar
    </button>
    <button mat-raised-button color="accent" (click)="imprimirSeccion('print-section')">
        <mat-icon aria-hidden="false" aria-label="add">print</mat-icon>
        Imprimir
    </button>
</div>

<div id="print-section">
<br>
    <section fxLayout="column" fxLayoutGap="20px" id="formato">

        <table class="tableheader">
            <tr>
                <td class="tableheader imagelogo">
                    
                </td>
                <td align="center" class="tableheader">
                    <h4>INFORMACIÓN DEL COLABORADOR</h4>
                </td>
            </tr>
        </table>
        <h5>1) DATOS DE IDENTIFICACIÓN E HISTORIAL</h5>
        <table>
            <thead>
                <tr>
                    <th class="spacing30">Nombre (s)</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Edad</th>
                    <th>Estado Civil</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.nombre }}</td>
                    <td>{{ colaborador.apellido_paterno }}</td>
                    <td>{{ colaborador.apellido_materno }}</td>
                    <td>{{ colaborador.edad }}</td>
                    <td>{{ colaborador.estado_civil }}</td>
                </tr>
            </tbody>
        </table>

        <table>
            <thead>
                <tr>
                    <th class="spacing30">CURP (18 DÍGITOS)</th>
                    <th>RFC a 13 dígitos (Con Homoclave)</th>
                    <th>Número de Seguro Social</th>
                    <th>Fecha Constancia No Antecedentes Penales dd/mm/aaa</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.curp | uppercase }}</td>
                    <td>{{ colaborador.rfc | uppercase }}</td>
                    <td>{{ colaborador.seguro_social }}</td>
                    <td>{{ colaborador.fecha_const_nopenales | date:'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>

        <table class="width40 centerbox">
            <thead>
                <tr>
                    <th class="spacing30">¿Cuentas con Crédito Infonavit?</th>
                    <th>¿Cuentas con Crédito Fonacot?</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.credito_Infonavit | booleanos }}</td>
                    <td>{{ colaborador.credito_fonacot | booleanos }}</td>
                </tr>
            </tbody>
        </table>


        <table>
            <thead>
                <tr>
                    <th class="spacing30">Correo Electrónico</th>
                    <th>Celular Personal</th>
                    <th>Teléfono de Casa</th>
                    <th>Tipo de Identificación oficial</th>
                    <th>Folio de Identificación</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.correo_electronico }}</td>
                    <td>{{ colaborador.tel_movil }}</td>
                    <td>{{ colaborador.tel_casa }}</td>
                    <td>{{ colaborador.tipo_doc }}</td>
                    <td>{{ colaborador.folio_doc }}</td>
                </tr>
            </tbody>
        </table>
        <h5>2) DIRECCIÓN DE CASA</h5>
        <table>
            <thead>
                <tr>
                    <th class="spacing30">Calle</th>
                    <th>Número</th>
                    <th>Colonia</th>
                    <th>Municipio</th>
                    <th>CP</th>
                    <th>Estado</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.calle }}</td>
                    <td>{{ colaborador.no_ext }} {{ colaborador.no_int }}</td>
                    <td>{{ colaborador.colonia }}</td>
                    <td>{{ colaborador.municipio }}</td>
                    <td>{{ colaborador.cp }}</td>
                    <td>{{ colaborador.estado }}</td>
                </tr>
            </tbody>
        </table>
        <div class="contenttable">
            <h5>UBICA TU DOMICILIO</h5>

            <div #ponermaparef class="box">
                <!-- <app-mapa></app-mapa> -->
            </div>
            <div class="alignright">
                <h5>3) INFORMACIÓN ESTADO DE SALUD</h5>
                <table class="width80">
                    <thead>
                        <tr>
                            <td>¿ERES ALÉRGICO A ALGÚN MEDICAMENTO?</td>
                            <td align="center">
                                {{ colaborador.es_alergia_med | booleanos }}
                            </td>
                        </tr>
                        <tr>
                            <td>¿CUÁL? {{ colaborador.desc_alergia_med }}</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>¿ERES ALÉRGICO A ALGÚN ALIMENTO?</td>
                            <td>{{ colaborador.es_alergia_com | booleanos }}</td>
                        </tr>
                        <tr>
                            <td>¿CUÁL? {{ colaborador.desc_alergia_com }}</td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>¿TIENES A ALGUNA ENFERMEDAD CRÓNICA?</td>
                            <td>{{ colaborador.enfermedad_cro | booleanos }}</td>
                        </tr>
                        <tr>
                            <td>¿CUÁL? {{ colaborador.desc_enfermedad_cro }}</td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
                <br>
                <h5>CONTACTO PARA EMERGENCIAS</h5>
                <table class="width80">
                    <thead>
                        <tr>
                            <th class="spacing30">NOMBRE</th>
                            <th>TELÉFONO</th>
                            <th>PARENTESCO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center">
                            <td>{{ colaborador.nombre_contacto_emergencia }}</td>
                            <td>{{ colaborador.tel_contacto_emergencia }}</td>
                            <td>{{ colaborador.contacto_parentesco_emerg }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <h5>4) DATOS ACADÉMICOS</h5>
        <table>
            <thead>
                <tr>
                    <th class="spacing30">ÚLTIMO GRADO DE ESTUDIOS</th>
                    <th>NOMBRE INSTITUCIÓN</th>
                    <th>DOCUMENTO RECIBIDO</th>
                    <th>REGISTRO DIRECCIÓN GENERAL DE PROFESIONES (SEP)</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.ult_grado_est }}</td>
                    <td>{{ colaborador.nombre_insti }}</td>
                    <td>{{ colaborador.doc_recibido }}</td>
                    <td>{{ colaborador.reg_profesional }}</td>
                </tr>
            </tbody>
        </table>
        <table class="width45">
            <thead>
                <tr>
                    <th class="spacing30">FECHA INICIO dd/mm/aaaa</th>
                    <th>FECHA TERMINO dd/mm/aaaa</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center">
                    <td>{{ colaborador.fecha_inicio | date:'dd/MM/yyyy' }}</td>
                    <td>{{ colaborador.fecha_final | date:'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="leyendas">
            <h5>5) DATOS FAMILIARES</h5>
            <p>En caso de ser soltero colocar información de los padres.<br> En caso de ser casado colocar datos del conyuge e hijos.</p>
        </div>
        <table>
            <thead>
                <tr>
                    <th class="spacing30">Nombre y Apellidos</th>
                    <th>Parentesco</th>
                    <th>Fecha de Nacimiento</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" *ngFor="let familar of colaborador.Familiares">
                    <td>{{ familar.nombre }} {{ familar.ape_paterno }} {{ familar.ape_materno }}</td>
                    <td>{{ familar.parentesco }}</td>
                    <td>{{ familar.fecha_nacimiento | date:'dd/MM/yyyy' }}</td>
                </tr>
            </tbody>
        </table>
        <div class="expericiencia" *ngIf="colaborador.Exp_Laborales.length > 0">
            <h5>7) EXPERIENCIA LABORAL</h5>  
            <table>
                <thead>
                    <tr>
                        <th class="spacing30">Puesto Desempeñado</th>
                        <th>Nombre de la empresa o Institución</th>
                        <th>Fecha de Incio</th>
                        <th>Fecha de Salida</th>
                        <th>Causa de Salida</th>
                        <th>Nombre Jefe Inmediato</th>
                        <th>Teléfono para contactar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" *ngFor="let exp of colaborador.Exp_Laborales">
                        <td>{{ exp.puesto }}</td>
                        <td>{{ exp.nombre_emp }}</td>
                        <td>{{ exp.fecha_inicio | date:'dd/MM/yyyy' }}</td>
                        <td>{{ exp.fecha_fin | date:'dd/MM/yyyy' }}</td>
                        <td>{{ exp.causa_salida }}</td>
                        <td>{{ exp.nombre_jefe }}</td>
                        <td>{{ exp.tel_contacto }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="referencia" *ngIf="colaborador.Referencias.length > 0">
            <h5>7) REFERENCIAS</h5>
            <table>
                <thead>
                    <tr>
                        <th class="spacing30">Nombre</th>
                        <th>Telefono Contacto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr align="center" *ngFor="let ref of colaborador.Referencias">
                        <td>{{ ref.nombre }}</td>
                        <td>{{ ref.telefono_contacto }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </section>
</div>