.tableheader{
    border: 0px !important;
}

table {
    font-size: 10px;
    border-collapse: collapse;
}

table, th,td {
    border:1px solid black;
    margin-bottom: 10px !important;
}

th {
    background-color: #b4cbf0;
}

td{
    padding: 7px;
}

h5{
    margin: -10px 0px -5px 0px;
}

.spacing30 {
    padding: 10px;
}

.width40{
    width: 400px;
}

.width45{
    width: 436px;
    margin-top: -10px;
}

.centerbox{
    text-align: center;
    margin: auto;
}

.width80{
    width: 350px;
}

.alignright{
    margin-left: 700px;
}

.ceromargin{
    margin: -5px;
}

.leyendas{
    margin-top: -15px;
    margin-bottom: -15px;
}
.leyendas p {
    margin-bottom: 0px !important;
}

.leyendas p{
    font-size: 11px;
}

.box{
    border: 1px solid black;
    width: 400px;
    height: 300px;
    float: left;
}

.contenttable{
    display: inline-block;
}
.contenttable h5 {
    margin: -2px 0px 3px 0px;
}

.salto_hoja {
    margin-top: 50px;
}

.referencia h5 {
    margin: -2px 0px 5px 0px;
}
.expericiencia h5 {
    margin: -2px 0px 5px 0px;
}