<mat-toolbar color="primary">
    <div *ngIf="authService.isLogin()" fxHide.gt-xs>
        <button mat-icon-button (click)="onsidenavToggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div>
        <img src="assets/images/logofb.png" width="130px" height="50px">
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul *ngIf="authService.isLogin()" fxLayout fxLayoutGap="10px" class="navigation-items">
            <li class="pointer">
                <a (click)="authService.logout()">Salir</a>
            </li>
        </ul>
    </div>
</mat-toolbar>
