<section *ngIf="!mostrarSpinner" class="signup-form" fxlayoutGap="10px" fxLayoutAlign="center center">
  <mat-card>
    <mat-card-header>
        <mat-card-title>
            <h1>Login</h1>
          </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form fxLayout="column" #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ng-container  *ngIf="!mostrar">
                <mat-form-field>
                    <input type="text" matInput placeholder="Ingresa tu usuario" required ngModel name="username" #usernameInput="ngModel">
                    <mat-error *ngIf="usernameInput.hasError('required')">El campo es requerido</mat-error>
                  </mat-form-field>
              
                  <mat-form-field>
                    <input type="password" matInput placeholder="Ingresa Contraseña" required ngModel name="password" #pwInput="ngModel">
                    <mat-error *ngIf="pwInput.hasError('required')">El campo contraseña es requerido</mat-error>
                  </mat-form-field>
            </ng-container>
      
            <ng-container *ngIf="mostrar">
                  <mat-form-field>
                    <input type="password" matInput placeholder="Ingresa tu CURP" required [(ngModel)]="curp" name="curp" #curpInput="ngModel">
                    <mat-error *ngIf="curpInput.hasError('required')">El campo CURP es requerido</mat-error>
                  </mat-form-field>
            </ng-container>
            
            <button type="submit" mat-raised-button color="accent" [disabled]="f.invalid">Ingresar</button>
          </form>
    </mat-card-content>
  </mat-card>
    
  </section>
  <app-spinner [tipoLoading]="'spinner'" *ngIf="mostrarSpinner"></app-spinner>
