<div fxLayout="row" fxLayoutGap="20px">
    <button mat-raised-button color="primary" [routerLink]="['/colaboradores']" routerLinkActive="router-link-active">
        <mat-icon aria-hidden="false" aria-label="add">arrow_back</mat-icon>
        Regresar
    </button>
    <button mat-raised-button color="accent" printSectionId="hoja1" [useExistingCss]="true" ngxPrint>
        <mat-icon aria-hidden="false" aria-label="add">print</mat-icon>
        Imprimir
    </button>

    <mat-radio-group fxLayoutGap="20px" aria-label="Seleccionar opcion">
        <mat-radio-button [checked]="opciones_radio[i].id === 1" *ngFor="let item of opciones_radio;let i = index"
            (change)="cargarOpcionSemQuin(item.id)" [value]="item.id">{{ item.texto }}</mat-radio-button>
    </mat-radio-group>
</div>

<div id="hoja1">
    <h4>CONTRATO INDIVIDUAL DE TRABAJO POR TIEMPO DETERMINADO</h4>
    <p>
        Contrato Individual de Trabajo por Tiempo Determinado cuya finalidad específica es cumplir con el contrato que
        suscribió EL PATRÓN para realizar la compra venta de telefonía celular y accesorios, por lo cual este contrato
        solamente podrá ser
        prorrogable si la naturaleza del evento así lo requiere, siendo solo modificable, suspendido, rescindido o
        terminado de acuerdo a lo establecido en los artículos 35, 37, 47 y 51 de la Ley Federal del Trabajo y lo
        celebran por una parte
        OFISISTEMAS PARADIGMA, S.A. DE C.V. representada por el C.P. OMAR TELLO FLORES a quien en lo sucesivo se le
        denominará “PATRÓN” y por la otra la <strong>{{ colaborador.apellido_paterno }} {{ colaborador.apellido_materno }} {{ colaborador.nombre }}</strong> a quien en lo sucesivo se le
        denominará “EL
        TRABAJADOR”
        al tenor de las siguientes declaraciones y cláusulas:
    </p>
    <p>
        D E C L A R A C I O N E S:<br>
        PRIMERA. Declara “EL PATRÓN” ser una empresa mexicana constituida conforme a las leyes de este país, mediante la
        escritura pública 5232, de fecha treinta y un días del mes de mayo de mil novecientos noventa y cuatro,
        pasada ante la fe del notario público número 1, 2 y 3 de la Ciudad de Atlacomulco, Estado de México volumen
        ochenta y dos.<br>
        SEGUNDA. Declara el C.P. Omar Tello Flores, en su carácter de representante legal de la empresa, que tiene
        facultades suficientes para la suscripción del presente
        contrato según constan en términos del instrumento de escritura pública número 69597 de fecha 10 de noviembre
        del 2016 pasada ante la fe del notario público número
        28 de la ciudad de Nezahualcóyotl, Estado de México, volumen 1657 y que cuenta con pleno uso y goce de sus
        facultades y derechos.<br>
        TERCERA. Declara el PATRÓN contar con Registro Patronal Número N8511599108 y tener su domicilio en Blvd. Toluca
        Metepec 913, Col. Xinantecatl Metepec, C.P. 52169, Estado de México.<br>
        CUARTA. Declara EL TRABAJADOR, ser de nacionalidad <strong>MEXICANA</strong>, tener <strong>{{ colaborador.edad }}</strong> años de
        edad, sexo <strong>FEMENINO</strong> estado civil
        <strong>{{ colaborador.estado_civil | uppercase }}</strong>, Registro Federal de Contribuyentes <strong>{{colaborador.rfc | uppercase}}</strong>,
        CURP <strong>{{ colaborador.curp | uppercase }}</strong>, con número telefónico {{colaborador.tel_movil}}, con domicilio en <strong>C {{colaborador.calle | uppercase}} {{colaborador.no_ext}},{{colaborador.no_int}} {{ colaborador.colonia | uppercase }}, {{colaborador.municipio | uppercase}}, {{colaborador.estado | uppercase}}</strong>, C.P.<strong>{{ colaborador.cp }}</strong><br>
        QUINTA. EL TRABAJADOR manifiesta que el domicilio que deja señalado en la declaración cuarta de este contrato
        surtirá efectos para cualquier notificación que
        deba serle hecha por “EL PATRÓN”. En caso de cambio de domicilio, se obliga a notificarlo a “EL PATRÓN”,
        subsistiendo el anterior en tanto no realice la notificación de su nuevo domicilio. 52166
        SEXTA. Los contratantes se reconocen mutua y expresamente la personalidad con que se ostentan para todos los
        efectos legales a que haya lugar.<br>
        SÉPTIMA. Declara el C.P. OMAR TELLO FLORES que su representada OFISISTEMAS PARADIGMA, S.A. DE C.V. requiere los
        servicios
        del <strong>C.{{ colaborador.apellido_paterno }} {{ colaborador.apellido_materno }} {{ colaborador.nombre }}</strong> para que realice los trabajos inherentes al puesto de
        <strong>RECEPCIONISTA.</strong><br>
        OCTAVA. Declara el <strong>C.{{ colaborador.apellido_paterno }} {{ colaborador.apellido_materno }} {{ colaborador.nombre }},</strong> contar con la aptitud y capacidad
        necesarias para la
        realización del trabajo para el cual es contratado(a).
    </p>
    <p>
        C L Á U S U L A S:<br>
        1ª El presente contrato se realiza por obra y tiempo determinado siendo solo modificable, suspendido, rescindido
        o terminado de acuerdo a lo establecido en la<br>
        Ley Federal del Trabajo y el mismo tiene una duración de <strong>45 DIAS</strong> y el mismo iniciará en fecha
        <strong>01 de marzo de
            2019</strong> y concluirá el <strong>14 de abril de 2019</strong><br>
        2ª EL TRABAJADOR se compromete a realizar sus servicios personales, subordinados, bajo la supervisión del
        “PATRÓN”, en la categoría de <strong>RECEPCIONISTA</strong> debiendo
        desempeñarlo en el domicilio Blvd. Toluca Metepec 913, Col. Xinantecatl Metepec, C.P. 52169, Estado de
        México.<br>
        EL TRABAJADOR se obliga a mantener confidencialidad a la información que reciba o conozca y contenida en los
        expedientes
        y archivos propios, inherentes y ajenos al desempeño de sus funciones y relativos a la fuente de trabajo y a las
        encuestas encomendadas, comprometiéndose a no revelarla a terceros, sin autorización expresa y por escrito de el
        “PATRÓN”.<br>
        3ª EL TRABAJADOR se compromete a realizar sus servicios personales, subordinados, bajo la supervisión del
        PATRÓN, y en caso de ser requerida por el superior jerárquico que se le asigne ésta deberá de presentarse en el
        lugar donde sea requerida,
        con la categoría de en el domicilio ubicado en Blvd. Toluca Metepec 913, Col. Xinantecatl Metepec, C.P. 52169,
        Estado de México, o por su categoría y funciones podrá desempeñar sus labores para empresas clientes del “EL
        PATRÓN” y en otros domicilios
        inclusive en otros estados de la República Mexicana, realizando de manera enunciativa y no limitativa las
        siguientes labores para “EL PATRÓN” o quien éste designe: el resguardo de los equipos y accesorios telefónicos,
        entrega físicamente los teléfonos al
        personal de logística, distribuye los equipos telefónicos a los diferentes puntos de venta, llevar un control
        pormenorizado de los equipos que se encuentren bajo su resguardo, estar disponible para arqueo el cual será
        solicitado por el patrón en cualquier momento.
    </p>
    <p>
        4ªEL TRABAJADOR se compromete a prestar sus servicios personales y subordinados en el domicilio de el “PATRÓN”,
        en la inteligencia de que, desde ahora está
        conforme en que cuando sea necesario prestará sus servicios en cualquier otro domicilio en que el “PATRÓN” lo
        indique, de acuerdo con sus necesidades o si eventualmente cambia el domicilio del “PATRÓN”.
    </p>
    <p>
        5ªEL TRABAJADOR labora una jornada legal ordinaria, comprendida de las 8 hrs. diarias, adicional a esta contara
        con 60 minutos para tomar alimentos y/o
        descansar, sin embargo, cuando las necesidades de el “PATRÓN” así lo requieran dicha jornada podrá ser
        modificada sin exceder los términos establecidos por la Ley, conviniendo las partes que los días de descanso
        serán los domingos de acuerdo a lo dispuesto por el artículo 59 de la Ley Federal del Trabajo.<br>
        6ª En los casos en que por circunstancias especiales sea necesario prolongar la jornada laboral, EL TRABAJADOR
        se obliga a laborar la jornada extraordinaria que sea necesaria, de conformidad con lo dispuesto por el artículo
        66 de la Ley Federal del Trabajo, en la inteligencia de que dicha jornada sólo será laborada
        previa autorización que en forma expresa y escrita le entregue el “PATRÓN” o sus representantes; cuando la
        jornada se prolongue por siniestro o riesgo inminente, EL TRABAJADOR tendrá derecho a su salario igual al que le
        corresponda por las horas de labor ordinarias.<br>
        7ª ELTRABAJADOR se obliga a firmar la entrada y salida a sus labores en las listas y/o controles de asistencia
        que para tal efecto se llevan en la fuente de trabajo, el incumplimiento de esta obligación se tomará como falta
        injustificada para todos los efectos legales a que haya lugar<br>
        8ª Convienen ambas partes que el salario que percibirá EL TRABAJADOR por sus servicios es de <strong>$ {{colaborador.salario_referencia }} ({{ numeroString }})</strong> <span
            [innerHTML]="opcion_contrato?.texto">{{ opcion_contrato?.texto }}</span><br>
        9ª Por cada seis días de trabajo disfrutará EL TRABAJADOR de un día de descanso con goce de salario íntegro, que
        será el día domingo de cada semana, sin perjuicio de que el “PATRÓN” pueda cambiar dicho día de descanso para lo
        cual otorga desde ahora EL TRABAJADOR su consentimiento.<br>
        10ª EL TRABAJADOR otorga expresamente al “PATRÓN” su consentimiento para que este último pueda modificar jornada
        de labores y el día de descanso semanal, cuando las necesidades del “PATRÓN” así lo ameriten.<br>
        11ª EL TRABAJADOR y “PATRÓN”, convienen expresamente que los descuentos por las deudas contraídas con el
        “PATRÓN”, pagos con exceso, pérdidas, averías, o servicios proporcionados por la fuente de trabajo serán
        calculados al 30% del excedente del salario mínimo<br>
        12ª EL TRABAJADOR se obliga a sujetarse a los programas de capacitación y adiestramiento vigentes en la
        Institución. Igualmente se obliga a observar las medidas que sobre higiene y seguridad establecen las Leyes de
        la materia, así como las que tengan carácter obligatorio dentro de la fuente de trabajo.<br>
        13ª EL TRABAJADOR conviene en someterse a los chequeos médicos que el PATRÓN, ordene periódicamente, en términos
        de lo dispuesto por la fracción X del artículo 134 de la Ley Federal del Trabajo, en la inteligencia de que el
        médico que los practique será designado y retribuido por el PATRÓN.<br>
        14ª En el cumplimiento de éste contrato EL TRABAJADOR aplicará en su máxima medida los conocimientos que posea,
        obligándose a cumplir con las normas establecidas por el “PATRÓN”, obligándose igualmente a desempeñar sus
        servicios utilizando todo el tiempo que requiera el cumplimiento satisfactorio de los mismos y de conformidad
        con las necesidades de la fuente de trabajo<br>
        15ª Ambas partes están de acuerdo en que respecto a las obligaciones y derechos que mutuamente les corresponden
        y que no se hayan expresado se sujetan a las disposiciones de la Ley Federal del Trabajo.<br>
        16ª Ambas partes convienen que para el caso de controversia se someten a la Jurisdicción de la Junta Local de
        Conciliación y Arbitraje del Valle de Toluca.<br>
        Leído que fue por las partes el presente contrato, ante los testigos que lo suscriben, e impuestos de su
        contenido y alcances legales, conscientes de las obligaciones que se engendran en el mismo, así como las que la
        propia Ley Federal del Trabajo les impone, lo firma el <strong>01 de marzo de 2019</strong><br>
    </p>
    <div fxLayout="column" fxLayoutAlign="center center">
        <p style="margin-bottom: 25px;">Representante Legal de OFISISTEMAS PARADIGMA, S.A. de C.V.</p>
        <p class="linea-sup ancho-linea1">C.P. OMAR TELLO FLORES</p>
        <p class="linea-sup ancho-linea2">TRABAJADOR</p>
    </div>
</div>