p {
    font-size: 13px;
    text-align: justify;
    line-height: 17px;
}
.linea-sup{
    border-top: 1px solid black;
    text-align: center;
    margin-bottom: 40px;
}

.ancho-linea1{
    width: 50%;
}

.ancho-linea2{
    width: 35%;
}