<section fxLayoutAlign="center center">
    <mat-progress-spinner *ngIf="tipoLoading === 'spinner'" mode="indeterminate"></mat-progress-spinner>
    <mat-progress-bar *ngIf="tipoLoading === 'bar'" mode="indeterminate"></mat-progress-bar>
</section>
