table {
    font-size: 10px !important;
    border-collapse: collapse !important;
}

table, th,td {
    border:1px solid black;
}

.spacing30 {
    padding: 10px;
}

.width40{
    width: 400px;
}

.centerbox{
    text-align: center;
    margin: auto;
}

.width80{
    width: 500px;
}

.alignright{
    margin-left: 790px;
}

.ceromargin{
    margin: -5px;
}

.leyendas{
    margin-top: -10px;
}

.leyendas p{
    font-size: 11px;
}

.box{
    border: 1px solid black;
    width: 500px;
    height: 400px;
    float: left;
}

.contenttable{
    display: inline-block;
}