<section>
	<form [formGroup]="form" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutGap="32px">
		<mat-card>
			<mat-card-header>
				<mat-card-title fxLayout="column">
					<div>
						<button *ngIf="isValid" [routerLink]="['/colaboradores']" style="margin-bottom: 10px;"  mat-raised-button color="primary">
							<mat-icon aria-hidden="false" aria-label="add">arrow_back</mat-icon>
								Regresar
						</button>
					</div>
					<small *ngIf="isValid">
						<!-- <strong>Nota:</strong>
						*Chequear el campo para marcarlo como incorrecto -->
						<div>
							<mat-form-field fxFlex.gt-md="330px">
								<mat-select #selectPuesto formControlName="puesto" [(ngModel)]="colaborador.idpuesto"  placeholder="Seleccionar Puesto">
									<mat-option *ngFor="let item of puestos" [value]="item.idpuesto">
										{{ item.descripcion }}
									</mat-option>
									<mat-error
									*ngIf="form.controls['puesto'].touched && form.controls['puesto'].hasError('required')">
									El campo es requerido</mat-error>
								</mat-select>
							</mat-form-field>
						</div>
					</small>
					<br>
					<div>DATOS DE IDENTIFICACIÓN E HISTORIAL</div>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox *ngIf="isCheckBoxShow"
						formControlName="c_nombre" [(ngModel)]="validacion.c_nombre" color="warn">
					</mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombres (s)"
							formControlName="nombre" [(ngModel)]="colaborador.nombre">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_nombre">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['nombre'].touched && form.controls['nombre'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_apellido_paterno" [(ngModel)]="validacion.c_apellido_paterno" color="warn">
						</mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Apellido Paterno"
							formControlName="apellido_paterno" [(ngModel)]="colaborador.apellido_paterno">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_apellido_paterno">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['apellido_paterno'].touched && form.controls['apellido_paterno'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_apellido_materno" [(ngModel)]="validacion.c_apellido_materno" color="warn">
						</mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Apellido Materno"
							formControlName="apellido_materno" [(ngModel)]="colaborador.apellido_materno">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_apellido_materno">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['apellido_materno'].touched && form.controls['apellido_materno'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_edad"
						[(ngModel)]="validacion.c_edad" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Edad"
							formControlName="edad" [(ngModel)]="colaborador.edad">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_edad">cancel</mat-icon>
						<mat-error *ngIf="form.controls['edad'].touched && form.controls['edad'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_estado_civil"
						[(ngModel)]="validacion.c_estado_civil" color="warn"></mat-checkbox>
					<mat-form-field>
						<mat-select [disabledControl]="!isInputShow" placeholder="Estado Civil"
							formControlName="estado_civil" [(ngModel)]="colaborador.estado_civil">
							<mat-option *ngFor="let item of selectItem.estados_civiles" [value]="item.value">
								{{item.titulo}}
							</mat-option>
						</mat-select>
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_estado_civil">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['estado_civil'].touched && form.controls['estado_civil'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

				</div>

				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_curp"
						[(ngModel)]="validacion.c_curp" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" maxlength="18" [disabledControl]="!isInputShow" type="text" matInput placeholder="CURP"
							formControlName="curp" [(ngModel)]="colaborador.curp">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_curp">cancel</mat-icon>
						<mat-error *ngIf="form.controls['curp'].touched && form.controls['curp'].hasError('required')">
							El campo es requerido</mat-error>
						<mat-error *ngIf="form.controls['curp'].touched && form.controls['curp'].hasError('minlength')">
							Debe de ingresar al menos 18 caracteres
						</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_rfc"
						[(ngModel)]="validacion.c_rfc" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" maxlength="13" [disabledControl]="!isInputShow" type="text" matInput placeholder="RFC"
							formControlName="rfc" [(ngModel)]="colaborador.rfc">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_rfc">cancel</mat-icon>
						<mat-error *ngIf="form.controls['rfc'].touched && form.controls['rfc'].hasError('required')">El
							campo es requerido</mat-error>

						<mat-error *ngIf="form.controls['rfc'].touched && form.controls['rfc'].hasError('minlength')">
							Debe de ingresar al menos 13 caracteres
						</mat-error>	
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_seguro_social" [(ngModel)]="validacion.c_seguro_social" color="warn">
					</mat-checkbox>
					<mat-form-field>
						<input class="uppercase" maxlength="11" [disabledControl]="!isInputShow" type="text" matInput
							placeholder="No. Seguro Social" formControlName="seguro_social"
							[(ngModel)]="colaborador.seguro_social">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_seguro_social">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['seguro_social'].touched && form.controls['seguro_social'].hasError('required')">
							El campo es requerido</mat-error>
						<mat-error *ngIf="form.controls['seguro_social'].touched && form.controls['seguro_social'].hasError('minlength')">
							Debe de ingresar al menos 11 caracteres
						</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_fecha_const_nopenales" [(ngModel)]="validacion.c_fecha_const_nopenales"
						color="warn"></mat-checkbox>
					<mat-form-field>
						<input [disabledControl]="!isInputShow" matInput placeholder="Fecha de No Atencedentes Penales"
							[matDatepicker]="picker1" [(ngModel)]="colaborador.fecha_const_nopenales"
							formControlName="fecha_const_nopenales" [min]="fechaMaximaMinStart('01-01-2016')" [max]="fechaMaximaMinStart()">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_fecha_const_nopenales">cancel</mat-icon>
						<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
						<mat-datepicker #picker1 startView="multi-year"></mat-datepicker>
						<mat-error
							*ngIf="form.controls['fecha_const_nopenales'].touched && form.controls['fecha_const_nopenales'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<div>
						<mat-checkbox formControlName="credito_Infonavit"
							[(ngModel)]="colaborador.credito_Infonavit">
							¿Tiene Crédito Infonavit?
						</mat-checkbox>
						<!-- <mat-error *ngIf="icredito_Infonavit.hasError('required')">El campo es requerido</mat-error> -->
					</div>

					<div>
						<mat-checkbox formControlName="credito_fonacot"
							[(ngModel)]="colaborador.credito_fonacot">
							¿Tiene Crédito Fonacot?
						</mat-checkbox>
						<!-- <mat-error *ngIf="icredito_fonacot.hasError('required')">El campo es requerido</mat-error> -->
					</div>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_correo_electronico" [(ngModel)]="validacion.c_correo_electronico"
						color="warn"></mat-checkbox>
					<mat-form-field>
						<input [disabledControl]="!isInputShow" type="text" matInput placeholder="Correo Electrónico"
							formControlName="correo_electronico" [(ngModel)]="colaborador.correo_electronico">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_correo_electronico">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['correo_electronico'].touched && form.controls['correo_electronico'].hasError('required')">
							El campo es requerido</mat-error>
						<mat-error
							*ngIf="form.controls['correo_electronico'].touched && form.controls['correo_electronico'].hasError('email')">
							El correo no es válido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_tel_movil"
						[(ngModel)]="validacion.c_tel_movil" color="warn"></mat-checkbox>
					<mat-form-field>
						<input maxlength="10" [disabledControl]="!isInputShow" type="text" matInput
							placeholder="Teléfono Celular" formControlName="tel_movil"
							[(ngModel)]="colaborador.tel_movil">

						<mat-icon color="warn" matSuffix *ngIf="validacion.c_tel_movil">cancel</mat-icon>

						<mat-error *ngIf="form.controls['tel_movil'].touched && form.controls['tel_movil'].hasError('required')">
							El campo es requerido
						</mat-error>

						<mat-error *ngIf="form.controls['tel_movil'].touched && form.controls['tel_movil'].hasError('minlength')">
								Debe de ingresar al menos 10 caracteres
						</mat-error>

						<mat-error *ngIf="form.controls['tel_movil'].touched && form.controls['tel_movil'].hasError('pattern')">
								Debe de ingresar un teléfono valido
						</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_tel_casa"
						[(ngModel)]="validacion.c_tel_casa" color="warn"></mat-checkbox>
					<mat-form-field>
						<input maxlength="10" [disabledControl]="!isInputShow" type="text" matInput
							placeholder="Teléfono de Casa" formControlName="tel_casa" [(ngModel)]="colaborador.tel_casa">

						<mat-icon color="warn" matSuffix *ngIf="validacion.c_tel_casa">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['tel_casa'].touched && form.controls['tel_casa'].hasError('required')">
							El campo es requerido</mat-error>
						
						<mat-error *ngIf="form.controls['tel_casa'].touched && form.controls['tel_casa'].hasError('minlength')">
							Debe de ingresar al menos 10 caracteres
						</mat-error>

						<mat-error *ngIf="form.controls['tel_casa'].touched && form.controls['tel_casa'].hasError('pattern')">
							Debe de ingresar un teléfono valido
						</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_tipo_doc"
						[(ngModel)]="validacion.c_tipo_doc" color="warn"></mat-checkbox>
					<mat-form-field>
						<mat-select [disabledControl]="!isInputShow" placeholder="Tipo Documento"
						formControlName="tipo_doc" [(ngModel)]="colaborador.tipo_doc">
							<mat-option *ngFor="let item of selectItem.tipos_documentos" [value]="item.value">
								{{ item.titulo }}
							</mat-option>
						</mat-select>
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_tipo_doc">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['tipo_doc'].touched && form.controls['tipo_doc'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>DIRECCIÓN DE CASA</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_calle"
						[(ngModel)]="validacion.c_calle" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Calle"
							formControlName="calle" [(ngModel)]="colaborador.calle">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_calle">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['calle'].touched && form.controls['calle'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_no_ext"
						[(ngModel)]="validacion.c_no_ext" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="No Ext."
							formControlName="no_ext" [(ngModel)]="colaborador.no_ext">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_no_ext">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['no_ext'].touched && form.controls['no_ext'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_no_int"
						[(ngModel)]="validacion.c_no_int" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="No Int."
							formControlName="no_int" [(ngModel)]="colaborador.no_int">

					</mat-form-field>
				</div>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_colonia"
						[(ngModel)]="validacion.c_colonia" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Colonia"
							formControlName="colonia" [(ngModel)]="colaborador.colonia">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_colonia">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['colonia'].touched && form.controls['colonia'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_municipio"
						[(ngModel)]="validacion.c_municipio" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Municipio"
							formControlName="municipio" [(ngModel)]="colaborador.municipio">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_municipio">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['municipio'].touched && form.controls['municipio'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_cp"
						[(ngModel)]="validacion.c_cp" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Código Postal"
							formControlName="cp" [(ngModel)]="colaborador.cp">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_cp">cancel</mat-icon>
						<mat-error *ngIf="form.controls['cp'].touched && form.controls['cp'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_estado"
						[(ngModel)]="validacion.c_estado" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Estado"
							formControlName="estado" [(ngModel)]="colaborador.estado">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_estado">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['estado'].touched && form.controls['estado'].hasError('required')">El
							campo es requerido</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>INFORMACIÓN ESTADO DE SALUD</mat-card-title>
			</mat-card-header>

			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<div>
						<!-- <mat-checkbox formControlName="es_alergia_med" [(ngModel)]="colaborador.es_alergia_med">
							¿Eres Alérgico algún medicamento?
						</mat-checkbox> -->
						<label id="radio-group-label">¿Eres Alérgico algún medicamento?</label>
						<mat-radio-group class="radio-group" aria-label="¿Eres Alérgico algún medicamento?" formControlName="es_alergia_med" [(ngModel)]="colaborador.es_alergia_med">
							<mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
							<mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
						</mat-radio-group>

						<!-- <mat-error *ngIf="ies_alergia_med.hasError('required')">El campo es requerido</mat-error> -->
					</div>

					<mat-form-field>
						<input type="text" matInput placeholder="¿Cuál?" formControlName="desc_alergia_med"
							[(ngModel)]="colaborador.desc_alergia_med" [disabledControl]="!colaborador.es_alergia_med">
						<mat-error
							*ngIf="form.controls['desc_alergia_med'].touched && form.controls['desc_alergia_med'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<div>
						<!-- <mat-checkbox formControlName="es_alergia_com" [(ngModel)]="colaborador.es_alergia_com">
							¿Eres Alérgico algún Alimento?
						</mat-checkbox> -->

						<label id="radio-group-label">¿Eres Alérgico algún Alimento?</label>
						<mat-radio-group class="radio-group" aria-label="¿Eres Alérgico algún Alimento?" formControlName="es_alergia_com" [(ngModel)]="colaborador.es_alergia_com">
							<mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
							<mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
						</mat-radio-group>
						<!-- <mat-error *ngIf="ies_alergia_com.hasError('required')">El campo es requerido</mat-error> -->
					</div>

					<mat-form-field>
						<input [disabledControl]="!colaborador.es_alergia_com" type="text" matInput placeholder="¿Cuál?"
							formControlName="desc_alergia_com" [(ngModel)]="colaborador.desc_alergia_com">
						<mat-error
							*ngIf="form.controls['desc_alergia_com'].touched && form.controls['desc_alergia_com'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<div>
						<!-- <mat-checkbox formControlName="enfermedad_cro" [(ngModel)]="colaborador.enfermedad_cro">
							¿Tienes alguna enfermedad crónica?
						</mat-checkbox> -->
						<label id="radio-group-label">¿Tienes alguna enfermedad crónica?</label>
						<mat-radio-group class="radio-group" aria-label="¿Tienes alguna enfermedad crónica?" formControlName="enfermedad_cro" [(ngModel)]="colaborador.enfermedad_cro">
							<mat-radio-button class="radio-button" [value]="true">Sí</mat-radio-button>
							<mat-radio-button class="radio-button" [value]="false">No</mat-radio-button>
						</mat-radio-group>

						<!-- <mat-error *ngIf="ienfermedad_cro.hasError('required')">El campo es requerido</mat-error> -->
					</div>

					<mat-form-field>
						<input [disabledControl]="!colaborador.enfermedad_cro" type="text" matInput placeholder="¿Cuál?"
							[(ngModel)]="colaborador.desc_enfermedad_cro" formControlName="desc_enfermedad_cro"
							name="desc_enfermedad_cro">
						<mat-error
							*ngIf="form.controls['desc_enfermedad_cro'].touched && form.controls['desc_enfermedad_cro'].hasError('required')">
							El campo es requerido</mat-error>

					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>CONTACTO PARA EMERGENCIAS</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_nombre_contacto_emergencia"
						[(ngModel)]="validacion.c_nombre_contacto_emergencia" color="warn"></mat-checkbox>
					<mat-form-field>
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombre"
							formControlName="nombre_contacto_emergencia"
							[(ngModel)]="colaborador.nombre_contacto_emergencia">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_nombre_contacto_emergencia">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['nombre_contacto_emergencia'].touched && form.controls['nombre_contacto_emergencia'].hasError('required')">
							El campo es requerido</mat-error>

					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_tel_contacto_emergencia" [(ngModel)]="validacion.c_tel_contacto_emergencia"
						color="warn"></mat-checkbox>
					<mat-form-field>
						<input maxlength="10" [disabledControl]="!isInputShow" type="text" matInput placeholder="Teléfono"
							formControlName="tel_contacto_emergencia" [(ngModel)]="colaborador.tel_contacto_emergencia">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_tel_contacto_emergencia">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['tel_contacto_emergencia'].touched && form.controls['tel_contacto_emergencia'].hasError('required')">
							El campo es requerido</mat-error>
						<mat-error *ngIf="form.controls['tel_contacto_emergencia'].touched && form.controls['tel_contacto_emergencia'].hasError('minlength')">
							Debe de ingresar al menos 10 caracteres
						</mat-error>

						<mat-error *ngIf="form.controls['tel_contacto_emergencia'].touched && form.controls['tel_contacto_emergencia'].hasError('pattern')">
							Debe de ingresar un teléfono valido
						</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_contacto_parentesco_emerg"
						[(ngModel)]="validacion.c_contacto_parentesco_emerg" color="warn"></mat-checkbox>
					<mat-form-field>
						<!--<input [disabledControl]="!isInputShow" type="text" matInput placeholder="Parentesco"
							formControlName="contacto_parentesco_emerg"
							[(ngModel)]="colaborador.contacto_parentesco_emerg">-->
					
						<mat-select [disabledControl]="!isInputShow" placeholder="Parentesco" formControlName="contacto_parentesco_emerg"
							[(ngModel)]="colaborador.contacto_parentesco_emerg">
							<mat-option *ngFor="let item of selectItem.parentescos" [value]="item.value">
								{{ item.titulo }}
							</mat-option>
						</mat-select>
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_contacto_parentesco_emerg">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['contacto_parentesco_emerg'].touched && form.controls['contacto_parentesco_emerg'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>DATOS ACADÉMICOS</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_ult_grado_est" [(ngModel)]="validacion.c_ult_grado_est" color="warn">
					</mat-checkbox>
					<mat-form-field fxFlex.gt-xs="10">
						<!-- <input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput
							placeholder="Último grado de estudios" formControlName="ult_grado_est"
							[(ngModel)]="colaborador.ult_grado_est"> -->

						<mat-select [disabledControl]="!isInputShow" placeholder="Último grado de estudios"
							formControlName="ult_grado_est" [(ngModel)]="colaborador.ult_grado_est" (selectionChange)="mostrarInputNombreLic($event.value)">
							<mat-option *ngFor="let item of selectItem.ultimos_grados_estudios" [value]="item.titulo">
								{{item.titulo}}
							</mat-option>
						</mat-select>
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_ult_grado_est">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['ult_grado_est'].touched && form.controls['ult_grado_est'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-form-field fxFlex.gt-xs="30">
						<input class="uppercase" [disabledControl]="!mostrar_nombre_lic" type="text" matInput [placeholder]="titulo_placeholder"
							formControlName="nombre_lic_maestria" [(ngModel)]="colaborador.nombre_lic_maestria">

						<mat-error
							*ngIf="form.controls['nombre_lic_maestria'].touched && form.controls['nombre_lic_maestria'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_nombre_insti"
						[(ngModel)]="validacion.c_nombre_insti" color="warn"></mat-checkbox>
					<mat-form-field fxFlex.gt-xs="20">
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombre de Institución"
							formControlName="nombre_insti" [(ngModel)]="colaborador.nombre_insti">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_nombre_insti">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['nombre_insti'].touched && form.controls['nombre_insti'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_doc_recibido"
						[(ngModel)]="validacion.c_doc_recibido" color="warn"></mat-checkbox>
					<mat-form-field fxFlex.gt-xs="20">
						<!---<input [disabledControl]="isValid" type="text" matInput placeholder="Documento Recibido" formControlName="doc_recibido" [(ngModel)]="colaborador.doc_recibido">-->
						<mat-select [disabledControl]="!isInputShow" placeholder="Documento Recibido"
							formControlName="doc_recibido" [(ngModel)]="colaborador.doc_recibido">
							<mat-option *ngFor="let item of selectItem.documentos_recibidos" [value]="item.titulo">
								{{item.titulo}}
							</mat-option>
						</mat-select>
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_doc_recibido">cancel</mat-icon>
						<mat-error
							*ngIf="form.controls['doc_recibido'].touched && form.controls['doc_recibido'].hasError('required')">
							El campo es requerido</mat-error>
					</mat-form-field>
				</div>

				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_reg_profesional" [(ngModel)]="validacion.c_reg_profesional" color="warn">
						</mat-checkbox>
					<mat-form-field fxFlex.gt-xs="25">
						<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput
							placeholder="Registro Dirección General de Profesiones (SEP)"
							formControlName="reg_profesional" [(ngModel)]="colaborador.reg_profesional">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_reg_profesional">cancel</mat-icon>
					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_a_fecha_inicio" [(ngModel)]="validacion.c_a_fecha_inicio" color="warn">
					</mat-checkbox>
					<mat-form-field>
						<input [disabledControl]="!isInputShow" matInput placeholder="Fecha Inicio"
							[matDatepicker]="picker2" formControlName="fecha_inicio"
							[(ngModel)]="colaborador.fecha_inicio" [max]="fechaMaximaMinStart()" [min]="fechaMaximaMinStart('01-01-1930')">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_a_fecha_inicio">cancel</mat-icon>

						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2 startView="multi-year"></mat-datepicker>
						<mat-error
							*ngIf="form.controls['fecha_inicio'].touched && form.controls['fecha_inicio'].hasError('required')">
							El campo es requerido</mat-error>

					</mat-form-field>

					<mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow"
						formControlName="c_a_fecha_final" [(ngModel)]="validacion.c_a_fecha_final" color="warn">
					</mat-checkbox>
					<mat-form-field color="accent">

						<input [disabledControl]="!isInputShow" matInput placeholder="Fecha Final"
							[matDatepicker]="picker3" formControlName="fecha_final"
							[(ngModel)]="colaborador.fecha_final" [max]="fechaMaximaMinStart()" [min]="fechaMaximaMinStart('01-01-1930')">
						<mat-icon color="warn" matSuffix *ngIf="validacion.c_a_fecha_final">cancel</mat-icon>
						<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
						<mat-datepicker #picker3 startView="multi-year"></mat-datepicker>

						<mat-error
							*ngIf="form.controls['fecha_final'].touched && form.controls['fecha_final'].hasError('required')">
							El campo es requerido</mat-error>

					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>DATOS FAMILIARES</mat-card-title>
				<mat-card-subtitle>
					<p>*En caso de ser soltero colocar información de los padres</p>
					<p>*En caso de ser casado colocar datos del conyuge e hijos.</p>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div fxLayoutGap="10px">
					<button *ngIf="esrecluta" mat-raised-button color="accent" type="button"
						(click)="anadirFamiliar()">
						<mat-icon aria-hidden="false" aria-label="add">group_add</mat-icon>
						Añadir
					</button>
					<!-- <mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_familares"
						[(ngModel)]="validacion.c_familares" color="warn">Invalidar Datos</mat-checkbox> -->

					<!-- <mat-icon color="warn" matSuffix *ngIf="validacion.c_familares">cancel</mat-icon> -->
				</div>
				
				<div formArrayName="familiares">
					<div fxLayout.gt-md="row" [formGroupName]="i" fxLayoutAlign.gt-md="space-between center"
						*ngFor="let fam of form.get('familiares')['controls']; let i = index">
						<mat-form-field>
							<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombre"
								formControlName="nombre">
						</mat-form-field>
						<mat-form-field>
							<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Apellido Paterno"
								formControlName="ape_paterno">
						</mat-form-field>

						<mat-form-field>
							<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Apellido Materno"
								formControlName="ape_materno">
						</mat-form-field>
						<mat-form-field>
							<mat-select [disabledControl]="!isInputShow" placeholder="Parentesco" formControlName="parentesco">
								<mat-option *ngFor="let item of selectItem.parentescos" [value]="item.value">
									{{ item.titulo }}
								</mat-option>
							</mat-select>
						</mat-form-field>
						
						<mat-form-field>
							<input [disabledControl]="!isInputShow" matInput placeholder="Fecha de Nacimiento"
								[matDatepicker]="picker4" formControlName="fecha_nacimiento" [max]="fechaMaximaMinStart()" [min]="fechaMaximaMinStart('01-01-1900')">
							<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
							<mat-datepicker #picker4 startView="multi-year"></mat-datepicker>
						</mat-form-field>
						<mat-icon class="pointer" aria-hidden="false" color="warn"
						(click)="removerFormFamiliares(i)" aria-label="eliminar">delete_outline</mat-icon>
					</div>
				</div>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header>
				<mat-card-title>EXPERIENCIA LABORAL</mat-card-title>
				<mat-card-subtitle>
					<p>*En caso de no contar con experiencia laboral agregar dos referencias</p>
					<mat-checkbox formControlName="tiene_ref" 
					[(ngModel)]="colaborador.tiene_ref" [disabledControl]="!isInputShow" (change)="checkEs_Ref(colaborador.tiene_ref)"  
					color="primary">Agregar Referencia</mat-checkbox>
				</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<div fxLayoutGap="10px">
					<button *ngIf="esrecluta" mat-raised-button color="accent" type="button"
						(click)="anadirExpLaboral()">
						<mat-icon aria-hidden="false" aria-label="add">domain</mat-icon>
						Añadir
					</button>
					<!-- <mat-checkbox [disabledControl]="isDisabled" *ngIf="isCheckBoxShow" formControlName="c_explaborales"
						[(ngModel)]="validacion.c_explaborales" color="warn">Invalidar Datos</mat-checkbox>
	
					<mat-icon color="warn" matSuffix *ngIf="validacion.c_explaborales">cancel</mat-icon> -->
				</div>

				<div formArrayName="ex_laborales">
					<div [formGroupName]="i" *ngFor="let expl of form.get('ex_laborales')['controls']; let i = index">
						<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
							<mat-form-field>
								<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombre de Empresa"
									formControlName="nombre_emp">
							</mat-form-field>
						
							<mat-form-field>
								<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Puesto" formControlName="puesto">
							</mat-form-field>
						
							<mat-form-field>
								<input [disabledControl]="!isInputShow" matInput placeholder="Fecha Inicio" [matDatepicker]="picker5"
									formControlName="fecha_inicio">
								<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
								<mat-datepicker #picker5 startView="multi-year"></mat-datepicker>
							</mat-form-field>
						
							<mat-form-field>
								<input [disabledControl]="!isInputShow" matInput placeholder="Fecha Fin" [matDatepicker]="picker6"
									formControlName="fecha_fin">
								<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
								<mat-datepicker #picker6 startView="multi-year"></mat-datepicker>
							</mat-form-field>
						</div><!--Cierre de primer bloque-->

						<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-between center">
						
								<mat-form-field>
									<mat-select [disabledControl]="!isInputShow" placeholder="Causa de Salida"
										formControlName="causa_salida">
										<mat-option *ngFor="let item of selectItem.causas_salidas" [value]="item.value">
											{{ item.titulo }}
										</mat-option>
									</mat-select>
								</mat-form-field>
		
								<mat-form-field>
									<input [disabledControl]="!isInputShow" type="text" matInput placeholder="Otro" formControlName="otro_causa_sal">
								</mat-form-field>
		
								<mat-form-field>
									<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput placeholder="Nombre de Jefe" formControlName="nombre_jefe">
								</mat-form-field>
		
								<mat-form-field>
									<input [disabledControl]="!isInputShow" type="text" maxlength="10" matInput placeholder="Teléfono de Contacto" formControlName="tel_contacto">
								</mat-form-field>
								<mat-icon class="pointer" aria-hidden="false" color="warn"
								(click)="removerFormExp_Laboral(i)" aria-label="eliminar">delete_outline</mat-icon>
						</div><!--Cierre de segundo bloque bloque-->
					</div>
					
				</div>
				<!--REFERENCIAS-->
				<div formArrayName="referencias">
					<div [formGroupName]="i" *ngFor="let referencia of form.get('referencias')['controls']; let i = index">
						<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-evenly center">
							<mat-form-field>
								<input class="uppercase" [disabledControl]="!isInputShow" type="text" matInput
									placeholder="Nombre de Referencia" formControlName="nombre">
							</mat-form-field>
							<mat-form-field>
								<input maxlength="10" class="uppercase" [disabledControl]="!isInputShow" type="text" matInput
									placeholder="Teléfono de Contacto" formControlName="telefono_contacto">

								<mat-error
									*ngIf="referencia.get('telefono_contacto').touched && referencia.get('telefono_contacto').hasError('minlength')">
									Debe de ingresar al menos 10 caracteres
								</mat-error>
								
								<mat-error
									*ngIf="referencia.get('telefono_contacto').touched && referencia.get('telefono_contacto').hasError('pattern')">
									Debe de ingresar un teléfono valido
								</mat-error>
								
							</mat-form-field>
							<mat-icon class="pointer" aria-hidden="false" color="warn"
								(click)="removerFormReferencias(i)" aria-label="eliminar">delete_outline</mat-icon>
						</div>
					</div>
					<br><br>
				</div>
				
			</mat-card-content>
		</mat-card>
		<mat-card *ngIf="isValid">
			<mat-card-header>
				<mat-card-title>SELECCIONAR MAPA</mat-card-title>
			</mat-card-header>
			<mat-card-content>
				<div fxLayout.gt-md="row" fxLayoutAlign.gt-md="center center">
					<mat-form-field fxFlex.gt-xs="50">
						<textarea [disabledControl]="!isInputShow" rows="5" matInput
							placeholder="Pegar cádigo html para generar mapa" formControlName="html_mapa"
							[(ngModel)]="colaborador.html_mapa">{{colaborador.html_mapa}}</textarea>
						<mat-error
							*ngIf="form.controls['html_mapa'].touched && form.controls['html_mapa'].hasError('pattern')">
							Debe de ingresar un código valido
						</mat-error>

						<mat-error
							*ngIf="form.controls['html_mapa'].touched && form.controls['html_mapa'].hasError('required')">
							El campo es requerido
						</mat-error>

						
					</mat-form-field>
					<a href="https://www.google.com.mx/maps" target="_blank" mat-raised-button color="primary">Ir a Google Maps</a>
				</div>
			</mat-card-content>
		</mat-card>
		<app-spinner *ngIf="loading" [tipoLoading]="'bar'"></app-spinner>
		<button *ngIf="pathUrl.includes('regnuevo')" type="submit" mat-raised-button color="primary">Ingresar</button>
		<button *ngIf="this.ideditar" type="submit" mat-raised-button color="primary">Guardar</button>
	</form>
</section>