<mat-nav-list>
    <mat-list-item *ngIf="authService.isLogin()"  (click)="onClose()">
        <button mat-icon-button>
            <mat-icon>eject</mat-icon>
            <span class="nav-camption" (click)="authService.logout(); onClose()">Logout</span>
        </button>
    </mat-list-item>
</mat-nav-list>
