@import '~@angular/material/theming';
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define the default theme (same as the example above).
$candy-app-primary: mat-palette($mat-blue,900);
$candy-app-accent:  mat-palette($mat-teal);
$candy-app-theme:   mat-light-theme($candy-app-primary, $candy-app-accent);

// Include the default theme styles.
@include angular-material-theme($candy-app-theme);

.alternate-theme {
// Define an alternate dark theme.
    $alternate-primary: mat-palette($mat-blue-grey);
    $alternate-accent:  mat-palette($mat-amber, A400);
    $alternate-warn:    mat-palette($mat-deep-orange);

    $alternate-theme: mat-light-theme($alternate-primary, $alternate-accent);
    @include angular-material-theme($alternate-theme);
}