/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

html,body{
    font-family: 'Roboto',sans-serif;
    height: 100%;
}

body {
    margin:0px;
}

.container{
	padding: 30px;
}

.pointer{
    cursor: pointer;
}

.imagelogo{
    background-image: url('assets/images/logof.png');
    background-size: 150px 50px;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
}
