<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation">
        <app-sidenav (sideNavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>
        <main class="container">
            <router-outlet></router-outlet>

        </main>
    </mat-sidenav-content>
</mat-sidenav-container>
